<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup done</title>
    <link rel="stylesheet" href="/asset/welcome.css">
</head>
<body>
    <br>
    <div align="center">
    <big align="center" style="font-size: xx-large;">Setup done</big><br>
    <small align="center">Step 3/3</small>
    <p align="center">
        The setup is done now. Please click Finish and then close the app by pressing CTRL+C multiple times until the process stopped.
    </p>
    <br><br>
    <button onclick="location.href = '/done'">Finish</button></div>
</body>
</html>