::-webkit-scrollbar {
    background-color: #1C1C1C;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: #1C1C1C;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    margin: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1C1C1C;
    padding: 10px;
}

@keyframes turn {
    100% {
        transform: rotate(2turn);
    }
}

::selection {
    background-color: transparent;
}

* {
    cursor: default;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

*:focus {
    outline: none;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Instrument Sans", sans-serif;
    margin: 0px;
}

nav {
    padding: 15px;
    color: var(--foreground-color);
    font-size: 18px;
    background-color: var(--accent-color);
}

nav a#exit {
    color: var(--nav-exit);
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}

nav b {
    padding-right: 10px;
}

div.infocard {
    padding: 10px;
    display: inline-table;
    border-radius: 10px;
    width: 30vw;
    height: 330px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey-3);
}

div.infocard h3 {
    color: var(--foreground-color);
    padding: 10px;
    margin: 0px;
}

div.infocard table {
    padding: 10px;
    font-size: 18px;
}

div.infocard table td {
    padding-bottom: 7px;
    width: 160px;
}

div.wide {
    padding: 10px;
    width: calc(60vw + 40px);
    height: 30vh !important;
    max-height: 50vh !important;
    overflow-y: scroll;
    display: block;
}

div.userdiv {
    padding: 10px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.userdiv button {
    background-color: transparent;
    color: red;
    border-width: 0px;
    box-shadow: none;
}

div.userdiv button {
    filter: brightness(1);
}

select {
    border-width: 0px;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    font-family: "Instrumental", sans-serif;
    color: var(--background-color);
}