::-webkit-scrollbar {
    background-color: #1C1C1C;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: #1C1C1C;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    margin: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1C1C1C;
    padding: 10px;
}

@keyframes turn {
    100% {
        transform: rotate(2turn);
    }
}

::selection {
    background-color: transparent;
}

* {
    cursor: default;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

*:focus {
    outline: none;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Instrument Sans", sans-serif;
    margin: 0px;
}

button {
    background-color: var(--accent-color);
    color: var(--background-color);
    border-width: 0px;
    border-color: 0px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Instrument Sans";
    padding: 7.5px;
    padding-left: 10px;
    font-size: 18px;
    width: 125px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    transition: ease-in-out 0.25s;
    text-align: left;
}

input[type="text"], input[type="password"] {
    background-color: var(--transparent-heavy);
    color: var(--foreground-color);
    border-width: 0px;
    border-color: 0px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Instrument Sans";
    padding: 7.5px;
    font-size: 18px;
    width: 250px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    transition: ease-in-out 0.25s;
}

button:hover, input[type="text"]:focus, input[type="password"]:focus {
    filter: brightness(110%);
}

button:focus {
    filter: brightness(120%);
}

button:active {
    filter: brightness(130%);
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
}

b {
    font-family: "Instrument Sans Bold";
}

i {
    font-family: "Instrument Sans Italic";
}

a, a::after, a:hover, a:active {
    color: var(--link-color);
}

nav {
    padding: 15px;
    color: var(--foreground-color);
    font-size: 18px;
    background-color: var(--accent-color);
}

nav a#exit {
    color: var(--nav-exit);
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}

nav b {
    padding-right: 10px;
}

div.infocard {
    padding: 10px;
    display: inline-table;
    border-radius: 10px;
    background-color: var(--background-color-2);
    width: 30vw;
    height: 330px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.infocard h3 {
    color: var(--foreground-color);
    padding: 10px;
    margin: 0px;
}

div.infocard table {
    padding: 10px;
    font-size: 18px;
}

div.infocard table td {
    padding-bottom: 7px;
    width: 160px;
}

div.wide {
    padding: 10px;
    width: calc(60vw + 40px);
    height: 30vh !important;
    max-height: 50vh !important;
    overflow-y: scroll;
    display: block;
}

div.userdiv {
    padding: 10px;
    background-color: var(--background-color-2);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.userdiv button {
    background-color: transparent;
    color: red;
    border-width: 0px;
}

div.userdiv button {
    filter: brightness(1);
}

select {
    border-width: 0px;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    color: var(--background-color);
}