:root {
    --background-color: #02050f;
    --foreground-color: #ffffff;
    --accent-color: #1F75FE;
    --accent-color-red: #FF0800;
    --transparent-heavy: rgba(255, 255, 255, 0.15);
    --transparent-low: transparent;
    --link-color: #599CE9;
    --box-shadow-ten-ten: 0px 10px 10px black;
    --background-color-2: #171b29;
    --box-shadow-color: black;
    --filter-gradient: #1d202999;
    --box-shadow-color-light: #00000042;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

@keyframes fall-down {
    0% {
        opacity: 0%;
        height: 0px;
    }
}

::selection {
    background-color: #ffffff00;
}

*:focus {
    outline: none;
}

* {
    cursor: default;
}

a,
button,
label,
button img {
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Instrument Sans", sans-serif;
    margin: 0px;
    padding: 10px;
    max-height: 100vh;
}

button {
    background-color: var(--accent-color);
    color: var(--foreground-color);
    border-width: 0px;
    border-color: 0px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Instrument Sans";
    padding: 10px;
    padding-left: 10px;
    font-size: 18px;
    width: 125px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    transition: ease-in-out 0.25s;
}

button.second {
    background-color: #848484;
}

button.chat_button {
    background-color: #15bb68;
}

input[type="text"],
input[type="password"] {
    background-color: var(--transparent-heavy);
    color: var(--foreground-color);
    border-width: 0px;
    border-color: 0px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Instrument Sans";
    padding: 7.5px;
    font-size: 18px;
    width: 250px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    transition: ease-in-out 0.25s;
}

button:hover,
input[type="text"]:focus,
input[type="password"]:focus {
    filter: brightness(110%);
}

button:focus {
    filter: brightness(120%);
}

button:active {
    filter: brightness(130%);
}

b {
    font-family: "Instrument Sans Bold";
}

i {
    font-family: "Instrument Sans Italic";
}

a,
a::after,
a:hover,
a:active {
    color: var(--link-color);
}

/*
-- Login Box --
Width: 33vw
Padding: 40px;
Height: 100vh - 80
Margin-Top: 40px;
*/

div#login_box {
    width: 33vw;
    min-width: 450px;
    padding: 40px;
    height: calc(100vh - 160px);
    margin-top: 40px;
    background-color: var(--transparent-low);
    border-radius: 25px;
    box-shadow: var(--box-shadow-ten-ten);
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-weight: 100;
}

h1 {
    font-size: 15px;
    font-family: "Instrument Sans", sans-serif;
    margin-bottom: 5px;
    opacity: 80%;
}

h2 {
    font-size: 18px;
}

nav#menu_bar {
    padding: 10px;
    width: calc(100% - 20px);
    background-color: var(--accent-color);
    height: 27px;
}

nav#menu_bar img {
    top: 14px;
    left: 15px;
    position: absolute;
    transition: ease-in-out 0.25s;
}

nav#menu_bar img.l1 {
    left: 42px;
}

nav#menu_bar img.l2 {
    left: 69px;
}

nav#menu_bar img:hover {
    filter: brightness(125%);
}

nav#menu_bar h1 {
    font-size: 20px;
    margin-left: 30px;
}

button.circle {
    width: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-left: 7.5px;
}

span.sender {
    color: #ffffffaa;
    width: 100px;
    text-overflow: ellipsis;
    display: inline-block;
}

div.filelist {
    padding: 10px;
    background-color: #ffffff42;
    border-radius: 5px;
}