::placeholder {
    color: var(--foreground-color);
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

@keyframes fall-down {
    0% {
        opacity: 0%;
        height: 0px;
    }
}

::selection {
    background-color: transparent;
}

*:focus {
    outline: none;
}

* {
    cursor: default;
}

/*
-- Login Box --
Width: 33vw
Padding: 40px;
Height: 100vh - 80
Margin-Top: 40px;
*/

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Instrument Sans", sans-serif;
    margin: 0px;
}

nav {
    background-color: var(--background-color);
}

div#login_box {
    width: 33vw;
    min-width: 450px;
    padding: 40px;
    height: calc(100vh - 160px);
    margin-top: 40px;
    background-color: var(--transparent-low);
    border-radius: 25px;
    box-shadow: var(--box-shadow-ten-ten);
}

div#menu {
    background-color: var(--grey-1);
    position: absolute;
    left: 10px;
    top: 60px;
    border-radius: 10px;
    animation-name: fall-down;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    z-index: 100;
}

div#menu a {
    font-size: large;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: var(--foreground-color);
    transition: all ease-in-out 200ms;
    text-decoration: underline;
    text-decoration-color: transparent;
}

div#info {
    padding: 10px;
    background-color: var(--background-color-2);
    color: var(--foreground-color);
    position: absolute;
    left: calc(50vw - 30vw);
    top: calc(50vh - 40vh + 40px);
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
}

div#info h1 {
    font-size: xx-large;
}

div#info h2 {
    font-size: x-large;
}

div#info h3 {
    font-size: large;
}

div#info #body {
    height: 50vh;
    overflow-x: scroll;
}

div#info #nav {
    height: 10vh;
}

div#info #nav * {
    margin-top: 5vh;
}

div#info #nav button#bf {
    margin-left: 10px;
    width: 50px;
}

div#main_box table {
    width: 100%;
    height: calc(100vh - 50px);
}

div#main_box {
    width: 100%;
    vertical-align: top;
}

div#main_box #file_box {
    padding-left: 10px;
    background-color: var(--transparent-low);
    overflow-y: scroll;
    height: 100%;
    padding-top: 50px;
}

div#main_box #file_box a {
    color: var(--foreground-color);
    text-decoration: none;
}

div.file_button {
    padding: 15px;
    width: calc(100% - 40px);
    margin-top: 10px;
    border-bottom: var(--grey-1) 1px solid;
    border-radius: 5px;
    transition: ease-in-out 100ms;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.file_button:hover {
    border-bottom: transparent 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.file_button img {
    margin-bottom: -5px;
    margin-right: 10px;
}

div#file_menu {
    background-color: var(--grey-3);
    border-radius: 5px;
    position: absolute;
    width: 200px;
    overflow-x: hidden;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#file_menu button {
    width: 100%;
    background-color: var(--grey-3) !important;
    height: auto;
    font-size: 12pt;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    transition: ease-in-out 100ms;
}

div#file_menu button:hover {
    filter: brightness(150%);
}

div#file_menu #file_menu_title {
    color: var(--foreground-color);
    font-weight: 100;
    font-size: small;
    margin-bottom: 10px;
}

button.dangerous {
    background-color: var(--accent-color-red) !important;
}

img#empty_icon {
    margin-top: calc(50vh - 200px);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes flow_down {
    0% {top: 0px;}
    100% {
        top: 20px;
    }
}

#password_request {
    position: absolute;
    top: 70px;
    left: calc(50vw - 150px);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    animation: flow_down 0.25s;    
}

*.margin-left-small {
    margin-left: 10px;
}

@keyframes fade-in {
    0%{opacity: 0%;}
}

#chat_inframe {
    position: absolute;
    top: calc(10vh);
    left: calc(10vw);
    height: 80vh;
    width: 80vw;
    border-radius: 10px;
    z-index: 100;
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-color);
    animation-name: fade-in;
    animation-duration: 200ms;
}

div#file_info_menu {
    height: calc(100% - 70px);
    position: fixed;
    top: 52px;
    right: 0px;
    padding: 10px;
    background-color: var(--grey-2);
    width: 25vw;
    min-width: 250px;
    z-index: 100;
}

div#file_info_menu #img_wrapper img {
    object-fit: cover;
    width: 90px;
}

div#file_info_menu span#file_info_menu_filename {
    width: calc(100% - 20px);
    text-align: center;
    display: inline-block;
    font-size: x-large;
    padding: 5px;
}
div#file_info_menu span#file_info_menu_filetype {
    display: inline-block;
    text-align: center;
    width: calc(100% - 20px);
    opacity: 50%;
    padding: 10px;
    padding-bottom: 10px;
}

div#file_info_menu span#file_info_menu_filesize, span#file_info_menu_fmd, span#file_info_menu_fcd {
    padding: 10px;
    font-size: medium;
}

iframe#file_preview {
    position: absolute;
    width: 75vw;
    height: 75vh;
    top: 12.5vh;
    left: 12.5vw;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey-3);
    z-index: 100;
}


div#encryption_popup {
    position: absolute;
    width: 50vh;
    height: 50vh;
    top: 25vh;
    left: 37.5vw;
    background-color: var(--grey-2);
    color: var(--foreground-color);
    border-radius: 5px;
    overflow: hidden;
}

div#encryption_popup .modal_title {
    background-color: var(--accent-color);
    padding: 10px;
}

div#encryption_popup input {
    margin: 10px;
}

@keyframes flow_down_b {
    0% {
        top: 0px;
    }
}

div#confirm_popup {
    position: absolute;
    top: 70px;
    left: calc(50vw - 160px);
    width: 300px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--grey-2);
    border-radius: 5px;
    animation-name: flow_down_b;
    animation-duration: 0.25s;
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey-4);
}

div#confirm_popup button {
    margin-top: 15px;
}

div#confirm_popup button {
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 2px 3px #1313132b;
    border: #ffffff30 1px solid;
}

div#confirm_popup b {
    letter-spacing: 0.75px;
}

#new_name_input {
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff39;
    color: var(--foreground-color);
    font-family: "Instrumental", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff39;
}

#new_name_input::selection {
    background-color: #02050f;
}

#info_msg {
    position: absolute;
    top: 70px;
    left: calc(50vw - (300px + 20px));
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    animation: flow_down 0.25s;
    z-index: 100;
}

iframe#editor_popup {
    position: fixed;
    height: 90vh;
    top: 5vh;
    width: 70vw;
    left: 15vw;
    border-width: 1px;
    border-color: var(--foreground-color);
    border-style: solid;
    border-radius: 5px;
    background-color: var(--background-color);
    z-index: 900;
}

#search_input {
    height: 20px;
}