::placeholder {
    color: var(--foreground-color);
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

@keyframes fall-down {
    0% {
        opacity: 0%;
        height: 0px;
    }
}

::selection {
    background-color: transparent;
}

*:focus {
    outline: none;
}

* {
    cursor: default;
}

/*
-- Login Box --
Width: 33vw
Padding: 40px;
Height: 100vh - 80
Margin-Top: 40px;
*/

body, html {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

div#login_box {
    width: 33vw;
    min-width: 450px;
    padding: 40px;
    height: calc(100vh - 160px);
    margin-top: 40px;
    background-color: var(--transparent-low);
    border-radius: 25px;
    box-shadow: var(--box-shadow-ten-ten);
}

nav#menu_bar {
    padding: 10px;
    width: calc(100% - 20px);
    height: 32px;
    position: fixed;
}

#logo_button {
    padding: 5px;
    font-size: 20px;
    position: fixed;
    background-color: var(--accent-color);
    width: 25px;
    border-radius: 5px;
    transition: all ease-in-out 0.25s;
}

#logo_button:hover {
    filter: brightness(1.1);
}

nav {
    padding: 11px;
    font-size: 16px;
    padding-left: 20px;
}

nav button {
    background-color: transparent;
    color: var(--foreground-color);
    padding: 0px;
    text-align: left;
    transition: none;
    box-shadow: none;
}

div#info {
    padding: 10px;
    background-color: var(--background-color-2);
    color: var(--foreground-color);
    position: absolute;
    left: calc(50vw - 30vw);
    top: calc(50vh - 40vh + 40px);
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
}

div#info h1 {
    font-size: xx-large;
}

div#info h2 {
   font-size: x-large;
}

div#info h3 {
    font-size: large;
}

div#info #body {
    height: 50vh;
    overflow-x: scroll;
}

div#info #nav {
    height: 10vh;
}

div#info #nav * {
    margin-top: 5vh;
}

div#info #nav button#bf {
    margin-left: 10px;
    width: 50px;
}

div#main_box table {
    width: 100%;
    height: calc(100vh - 50px);
}

div#main_box {
    width: 100%;
    vertical-align: top;
}

div#main_box #file_box {
    padding-left: 10px;
    background-color: var(--transparent-low);
    overflow-y: scroll;
    height: 100%;
    padding-top: 50px;
}

div#main_box #file_box a {
    color: var(--foreground-color);
    text-decoration: none;
}

div.file_button {
    padding: 15px;
    width: calc(100% - 40px);
    margin-top: 10px;
    border-bottom: var(--grey-1) 1px solid;
    border-radius: 5px;
    transition: ease-in-out 100ms;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.file_button:hover {
    border-bottom: transparent 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.file_button img {
    margin-bottom: -5px;
    margin-right: 10px;
}

div#file_menu {
    background-color: var(--grey-3);
    border-radius: 5px;
    position: absolute;
    width: 200px;
    overflow-x: hidden;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#file_menu button {
    width: 100%;
    background-color: var(--grey-3) !important;
    height: auto;
    font-size: 12pt;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    transition: ease-in-out 100ms;
}

div#file_menu button:hover {
    filter: brightness(150%);
}

div#file_menu #file_menu_title {
    color: var(--foreground-color);
    font-weight: 100;
    font-size: small;
    margin-bottom: 10px;
}

button.dangerous {
    background-color: var(--accent-color-red) !important;
}

textarea {
    background-color: var(--grey-1);
    border-width: 0px;
    width: calc(100% - 60px);
    height: calc(100% - 120px);
    color: var(--foreground-color);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    margin-top: 0px;
    resize: none;
}

textarea::selection {
    background-color: var(--foreground-color);
    color: var(--background-color);
}