@keyframes turn {
    50% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(2turn);
    }
}

@keyframes screen-transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::selection {
    background-color: transparent;
}

* {
    cursor: default;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("InstrumentSans-Regular.ttf");
}

@font-face {
    font-family: "Instrument Sans Bold";
    src: url("InstrumentSans-Bold.ttf");
}

@font-face {
    font-family: "Instrument Sans Italic";
    src: url("InstrumentSans-Italic.ttf");
}

*:focus {
    outline: none;
}

button:hover {
    filter: brightness(120%);
}

button:focus {
    filter: brightness(130%);
}

button:active {
    filter: brightness(140%);
}

button:disabled {
    filter: grayscale() brightness(1.3);
}

button img {
    height: 15px;
    margin-left: 20px;
    animation-name: turn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#register_link {
    padding-left: 20px;
    font-size: 20px;
}

b {
    font-family: "Instrument Sans Bold";
}

i {
    font-family: "Instrument Sans Italic";
}

a, a::after, a:hover, a:active {
    color: var(--link-color);
}

div#login_box {
    width: 435px;
    height: 400px;
    margin-top: calc(75vh - 400px);
}

div#login_box h1 {
    font-size: 3vw;
    font-family: "Instrument Sans Bold";
    margin: 0px;
    padding-bottom: 15px;
}
div#login_box h2 {
    font-size: 12pt;
    font-family: "Instrument Sans";
    margin: 0px;
    padding-bottom: 15px;
}

@keyframes flow_down {
    0% {top: 0px;}
    100% {
        top: 20px;
    }
}

#info {
    position: absolute;
    top: 20px;
    left: calc(50vw - 150px);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color-2);
    animation: flow_down 0.25s;    
}

*.margin-left-small {
    margin-left: 10px;
}