<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/asset/adminscreen.css">
    <meta http-equiv="cache-control" content="no-cache">
    <script>
        window.onload = function () {
            if ("{{ blockbinary }}" == "yes") {
                document.getElementById("binary-block").checked = "true"
                if ("[[ ckey ]]" != "") {
                document.cookie = "ckey=[[ ckey ]];"}
            }
        }

        function rmuser(username) {
            if (confirm('Do you want to remove the user \"'+username+"\"?")) {
                location.href = "/admin/rmuser/"+username
            }
        }

    </script>
    <link rel="stylesheet" href="/asset/themeoverride.css">
    <link rel="stylesheet" href="/asset/lui.css">
</head>

<body>
    <nav>
        <a href="/logoff" id="exit">Exit</a> <b>Lumos</b> Admin
    </nav>
    <br>
    <div align="center">
        <div class="infocard">
            <h3>General</h3>
            <table>
                <tr>
                    <td>RAM</td>
                    <td>{{ ram }}%</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>{{ cpu }}%</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{ version }}</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>
                        {{ platform }}
                    </td>
                </tr>
                <tr>
                    <td>Server Name</td>
                    <td>{{ servername }}</td>
                </tr><tr>
                    <td>Server Logo</td>
                    <td>
                        <img src="/asset/company_icon.png" alt="Company logo" height="40" onerror="this.hidden = true;">
                    </td>
                    <td>
                        <form action="/admin/ciconupload" id="icon_upload_form" method="post" enctype="multipart/form-data">
                            <button onclick="document.getElementById('icon_upload_button').click()" type="button">Upload logo</button>
                            <input type="file" name="icon_upload" id="icon_upload_button" onchange="document.getElementById('icon_upload_form').submit()" hidden>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Design</td>
                    <td>
                        <select id="theme" onchange="fetch('/admin/themechange/'+this.value);location.reload()">
                            <optgroup>
                                <option value="{{ acttheme }}">Actual theme</option>
                            </optgroup>
                            <optgroup>
                            <option value="default">Dark</option>
                            <option value="green_dark">Green</option>
                            <option value="green_dark_lines">Green Lines</option>
                        </optgroup>
                            <optgroup>
                                <option value="light">Light</option>
                            <option value="green_light">Green</option></optgroup>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="infocard">
            <h3>Security</h3>
            <table>
                <tr>
                    <td>Last Virus Update</td>
                    <td>
                        {{ last_vir_update }}
                    </td>
                    <td>
                        <a href="/admin/vrscnr">Update</a>
                    </td>
                </tr>
                <tr>
                    <td>Block executables</td>
                    <td>
                        <form action="/admin/binary-block" method="post"><input type="checkbox" name="binary-block"
                                id="binary-block">
                    </td>
                    <td><button style="background-color: transparent; border-width: 0px; padding: 0px; margin: 0px; text-decoration: underline; color: var(--link-color); box-shadow: none; text-align: left;">Apply</button></form>
                    </td>
                </tr>
            </table>
        </div><br>
        <div class="infocard wide">
            <h3>Users</h3>
            [[ userlist ]]
        </div>
    </div>
</body>

</html>