<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload done</title>
    <link rel="stylesheet" href="/asset/welcome.css">
    <link rel="stylesheet" href="/asset/themeoverride.css">
</head>
<body oncontextmenu="return false;">
    <button class="circle" title="Go back" onclick="location.replace('/login')"><-</button>
    <big>Upload done</big>
    <div align="center">
        <img src="/asset/upload.svg" alt="Green upload icon" height="100">
    </div>
    <h1 align="center">Your virus definitions are up to date now.</h1>
    <button onclick="location.href = '/'">Go back</button>
</body>
</html>