<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Location not found</title>
    <link rel="stylesheet" href="/asset/welcome.css">
</head>
<body>
    <h1 align="center">Error 500</h1>
    <h2 align="center">Internal Server Error</h2>
    This error happens if,...
    <ul>
        <li>A file couldn't be deleted</li>
        <li>You don't have the permissions to access a certain path</li>
        <li>A file couldn't be read</li>
    </ul>
</body>
</html>