<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumos Chat</title>
    <link rel="shortcut icon" href="/asset/chatlogon.png" type="image/x-icon">
    <link rel="stylesheet" href="/asset/chat.css">
    <script src="/asset/chat.js"></script>
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="stylesheet" href="/asset/themeoverride.css">
    <link rel="stylesheet" href="/asset/lui.css">

</head>

<body oncontextmenu="return false;">
    <form action="/chat/web/l" method="post" id="loader_form" hidden>
        <input type="hidden" name="username" id="loader_form_username">
    </form>
    <table>
        <tr>
            <td id="userlist">
                <a href="javascript:location.reload()">Reload</a><br><br>
                    <button onclick="location.href = '/chat/web/fb'">Filebox</button>
                [[ userlist ]] <br>
            </td>
            <td id="messages">
                <div id="container">
                    <b>{{ username }}</b>
                    [[ messages ]]
                </div>
                <div id="input" hidden>
                    <form action="/chat/web/s" method="post" enctype="multipart/form-data">
                        <input type="text" name="message" id="message" placeholder="Message" autocomplete="off" required>
                        <input type="hidden" name="username" id="username" value="{{ username }}">
                        <input type="file" id="file-upload" name="file-upload" hidden>
                        <input type="hidden" id="filename" name="filename">
                        <button type="submit" class="circle">-></button>
                        <button style="background-color: transparent;" type="button" onclick="file_upload()"><img src="/asset/upload.svg" alt="Uplaod" title="Upload a file"></button>
                    </form>
                </div>
            </td>

        </tr>
    </table>
</body>

</html>