<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption for {{ file_for_enc }}</title>
    <link rel="stylesheet" href="/asset/encryption.css">
    <script src="/asset/encryption.js"></script>
    <script>file_for_enc = "{{ file_for_enc }}"; is_encrypted = "{{ is_encrypted }}" == "true"</script>
</head>

<body oncontextmenu="return false;">
    <div id="info" hidden>
        <big id="info_message">
            None
        </big>
    </div>
    <button class="circle" title="Go back" onclick="history.back()"><-</button>
            <big>File encryption</big><br><br>
            <span id="encryption_icon"></span><label for="encryption_icon" id="encryption_label">Not encrypted
                yet</label><br><br>
            <input type="password" placeholder="Encryption Key" id="password_box_user">
            <br>
            <button id="encrypt_button">Encrypt</button>
            <button hidden id="decrypt_button">Decrypt</button> 
            <form action="/mng-encryption-file-formular-handler" id="encrytion_form_submitter" method="post">
                <input type="hidden" id="password_box_backend_encrypt" name="password">
                <input type="hidden" id="filename_box_backend_encrypt" name="filename">
            </form>
            <form action="/mng-encryption-file-formular-handler" id="decryption_form_submitter" method="post">
                <input type="hidden" id="password_box_backend_decrypt" name="password">
                <input type="hidden" id="filename_box_backend_decrypt" name="filename">
            </form>

</body>

</html>