<!DOCTYPE html>
<html lang="en" oncontextmenu="return false;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumos Login</title>
    <link rel="stylesheet" href="/asset/welcome.css">
    <script src="/asset/login.js"></script>
    <link rel="stylesheet" href="/asset/themeoverride.css">
    <link rel="stylesheet" href="/asset/lui.css">
</head>

<body>
    <div align="center" style="width: 100%;">
        <div id="info" hidden>
            <big id="info_message">
                None
            </big>
        </div>
    </div>
    <div align="center">
        <div id="login_box" align="left">
            <img src="/asset/company_icon.png" alt="Logo" onerror="this.hidden = true" height="50" draggable="false">
            <h1>Lumos Login</h1>
            <h2>{{ login_subtitle }}</h2>
            <form action="/login" method="post" id="login_formular">
                <span id="password_fail_label" hidden>Your password or username is worng<br><br></span>
                <span id="user_exit_label" hidden>You're not logged in anymore<br><br></span>
                <input type="text" id="username_input" name="username" placeholder="Username" autocomplete="off"
                    required><br>
                <input type="password" id="password_input" name="password" placeholder="Password" required><br>
                <button type="submit" id="submit_button">Login <img src="/asset/loading_wheel.png" alt="+"
                        id="loading_wheel" hidden></button>
                <small id="register_link">
                    <a href="/register">Register</a>
                </small><br><br>
                <small>
                    <a href="/admininfo">Contact admin</a>

                    <a href="/info">Info</a>

                    <a href="/info/p">Privacy Information</a>
                </small>
            </form>
        </div>
    </div>
</body>

</html>