<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong code</title>
    <link rel="stylesheet" href="/asset/lui.css">
    <link rel="stylesheet" href="/asset/homescreen.css">
    <link rel="stylesheet" href="/asset/themeoverride.css">
    <style>
        body {
            margin: 10px;
        }

        span#title {
            width: 100%;
            display: inline-block;
            font-size: x-large;
        }
    </style>
</head>
<body>
    <span style="opacity: 50%; font-size: medium;">Lumos</span><br>
    <span id="title" align="center">This link is wrong<br><small>The sharing link for this file was removed or is incorrect.</small><br>
    <button onclick="location.href = '/'">Go back</button></span>
</body>
</html>