<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Lumos</title>
    <link rel="stylesheet" href="asset/welcome.css">
    <script>
        if (localStorage.getItem("last_screen_info") == "register_fail_unknown") {
            localStorage.removeItem("last_screen_info")
            document.getElementById("error_message").hidden = true
            document.getElementById("error_message").innerHTML = "Your AccId is wrong<br>"
        }
    </script>
    <link rel="stylesheet" href="/asset/themeoverride.css">

</head>

<body oncontextmenu="return false;">
    <div align="center">
        <div id="login_box" align="left">
            <img src="asset/company_logo.png" alt="Logo" onerror="this.hidden = true" height="50" draggable="false">
            <h1>Lumos Register</h1>
            <h2>{{ login_subtitle }}</h2>
            <br>
            <span id="error_message" style="color: red;" hidden></span> 
            <form action="/register" method="post">
                <input type="text" id="username_input" name="username" placeholder="Username" required><br>
                <input type="password" id="password_input" name="password" placeholder="Password" required><br>
                <input type="password" id="accid" name="accid" placeholder="AccID" required><br>
                <button type="submit">Register</button>
                <br>
                <br>
                <small>
                    <a href="/login">Go to Login</a>
                </small>
            </form>
        </div>
    </div>
</body>

</html>